h1 {
    text-align: center;
    background: hsl(0, 0%, 68%);
}

p span {
    font-weight: normal;
    font-style: normal;
    padding-left: 40px;
}

.created {
    text-align: left;
    display: block;
    width: 15%;
    font-weight: bold;
    background: linear-gradient(hsl(180, 2%, 50%), hsl(240, 1%, 48%), hsl(240, 1%, 39%));
}

hr {
    height: 2px;
    background-color: black;
    border-color: black;
}

.multicolortext {
    background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}